@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Quicksand:wght@600&display=swap');
.calendar{
    padding: 20px 40px !important;
    font-family: 'Quicksand', sans-serif;
}
.months-container{
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    gap: 40px !important;
}

.calendar .months-container .month-container{
    background: #ffff !important;
    padding: 20px !important;
    min-width: 280px !important;
    height: auto !important;
    box-shadow: 15px 15px 40px rgba(0,0,0,.15) !important;
}

.calendar table.month th.month-title{
    color: #5a8990 !important;
    font-size: 1.9em !important;
    font-weight: 200 !important;
    font-family: 'Dancing Script', cursive !important;
}

table.month td:first-child,
table.month td:last-child,
table.month thead tr:nth-child(2) th:first-child,
table.month thead tr:nth-child(2) th:last-child{
    color: #f75c96 !important;
}

.calendar table.month td.day .day-content{
    padding: 6px 8px !important;
}

.calendar table.month td.day .day-content{
    color: #777;
    font-size: .9em !important;
    font-weight: 700 !important;
}

.month tr td{
    font-size: .9em !important;
    font-weight: 500 !important;
    color: #777;
}

table.month td.day .day-content:hover{
    color: #ffff !important;
    background: #f75c90 !important;   
}

.calendar .calendar-header{
    border: none !important;
}

.calendar .calendar-header table th:hover{
    background: transparent !important;
}

.calendar .calendar-header .year-title{
    font-size: 2.25em !important;
    color: #f75c90;
    font-family: 'Dancing Script', cursive !important;

}

.calendar .calendar-header .year-neighbor{
    font-size: 2.25em !important;
}

.calendar .calendar-header .year-neighbor2{
    font-size: 1em !important;
}

.selectorFechas{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lblTittle, .fechaDesde, .fechaHasta,.botonConfirmar{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 2em;
}
   
